* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
:root {
  --primary-color: #13072e;
  --secondary-color: #3f2182;
  --tertiary-color: #b3aaff;
  --text-color: #fff;
}
body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* Typography */
h1 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
a {
  color: var(--text-color);
}
h2 {
  font-size: 1.8rem;
}
span {
  font-size: 2.2rem;
  color: #1900ff;
  transition: ease-in-out 0.2s;
  font-family: monospace;
}
#name-active {
  font-size: 2rem;
  color: #7b6cff;
}
span:hover {
  color: var(--tertiary-color);
  transform: scale(1.2);
  cursor: default;
}
p {
  font-size: 1.2rem;
}

/* Styling */

/* Header Styling */
.header {
  display: flex;
  width: 100%;
  max-height: 15vh;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 3rem;
  position: fixed;
  z-index: 10;
  background-color: var(--secondary-color);
}
/* Nav-Lists */
.nav-list ul {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 2rem;
}
ul a {
  text-transform: uppercase;
  font-size: 0.9rem;
}
#active {
  border-bottom: 2px solid white;
}
ul a:hover {
  transition: 0.5s ease-in-out;
}
.nav-icons {
  display: none;
}

/* Main-Container */
.main-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 5rem 3rem;
}

/* Profile Photo Main Container */
.my-profile {
  height: auto;
  width: 100%;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  animation: slide 2s;
}

.description-container p {
  margin: 2rem 0;
  animation: slideFromRight 2s;
}

.description-container h2 {
  animation: slideFromTop 2s;
}

.ri-github-fill {
  animation: first 2s;
}


/* Profile Download Button */
.cv-btn {
  height: auto;
  width: 180px;
  border: none;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  margin: 2rem 0;
  transition: 0.5s ease-in-out;
  background-color: var(--text-color);
  animation: slideFromBottom 2s;
}
.cv-btn a {
  color: black;
}
.cv-btn:hover {
  background-color: var(--tertiary-color);
  color: var(--text-color);
  transform: scale(1.1);
}


/* secondary container styling */
.secondary-container {
  margin: 8rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  background-color: var(--secondary-color);
  border-radius: 30px;
  padding: 2rem 1rem;
  gap: 1rem;
}
.secondary-container:hover{
  .about-me-photo{
    animation: fadeleft 1.6s linear;
  }
  .rightside-description p{
    animation: faderight 2s linear;
  }
  .github-icon {
    animation: second 2s;
  }
  .linkedin-icon {
    animation: third 2s;
  }
  .facebook-icon {
    animation: second 2s;
  }
  .instagram-icon {
    animation: third 2s;
  }
}
.about-me-photo {
  height: auto;
  width: 100%;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  
}

.rightside-description {
  max-width: 65%;
  text-align: justify;
  padding: 0 2rem;
}
.rightside-description p {
  font-size: 1rem;
  
}


.social-media-links {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social-media-links i {
  font-size: 1.4rem;
  padding: 0.5rem;
  background-color: var(--text-color);
  color: black;
  border-radius: 50%;
}
.read-more {
  margin-top: -1rem;
  animation: none;
}
.social-media-links i:hover {
  background-color: var(--tertiary-color);
  color: var(--text-color);
  transform: scale(1.1);
}

/* Projects Container */
.tertiary-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 90%;
  margin: 8rem auto;
  border-radius: 12px;
  gap: 1.8rem;
  padding: 2rem 1rem;
  text-align: justify;
}
.tertiary-container:hover{

  .projects-first {
    animation: slideFromRight 2s linear;
  }
  .projects-second {
    animation: slide 2s linear;
  }
}
  


/* ProjectImage Styling */
.project-image {
  height: auto;
  width: 100%;
  border-radius: 20px;
}

.projects {
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 2rem 1rem;
  transition: ease-in-out 0.5s;
}
.projects:hover {
  transform: scale(1.05);
  opacity: 0.75;
}

.tertiary-container p {
  font-size: 0.9rem;
}

/* Quaternary Container Styling */
.quaternary-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  max-width: 90%;
  margin: 5rem auto;
}
.quaternary-container:hover{
  .first-blog {
    animation: slideFromRight 2s linear;
  }
  .third-blog {
    animation: slide 2s linear;
  }
}
.blogs {
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 2rem 1rem;
  transition: ease-in-out 0.5s;
}
.blogs:hover {
  transform: scale(1.05);
  opacity: 0.75;
}

.blog-image {
  height: auto;
  width: 100%;
  border-radius: 20px;
}

/* Final Container */
.final-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 5rem auto;
  background-color: var(--secondary-color);
  padding: 2rem 3rem;
  border-radius: 20px;
}
.final-container:hover{
  .image{
    animation: boom 2s linear;
  }
}

input {
  font-size: 1.2rem;
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 2px solid white;
  margin: 1.2rem 0;
  padding: 0 0.4rem;
  outline: none;
}
textarea {
  resize: none;
  width: 100%;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  margin: 1.2rem 0;
  padding: 0 0.4rem;
  background: transparent;
}
.leftside-contact {
  max-width: 40%;
  box-shadow: 3px 1px 0 solid white;
}
.rightside-image-3d {
  max-width: 60%;
}
.image {
  height: auto;
  width: 100%;
}

/* footer container */
.footer-container {
  width: 100%;
  background-color: var(--secondary-color);
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}







@keyframes slide {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideFromRight {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes boom {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
@keyframes second {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes third {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes faderight {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  25% {
    transform: translateY(-75%);
    opacity: 0;
  }
  50% {
    transform: translateY(-50%);
    opacity: 0;
  }
  75% {
    transform: translateY(-25%);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeleft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  25% {
    transform: translateX(75%);
    opacity: 0;
  }
  50% {
    transform: translateX(50%);
    opacity: 0;
  }
  75% {
    transform: translateX(25%);
    opacity: 0.2;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideFromBottom {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes first {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}



/* Responsive Design For Tablet*/
@media (max-width: 1000px) {
  h1 {
    font-size: 1.5rem;
  }
  a {
    color: var(--text-color);
  }
  h2 {
    font-size: 1.4rem;
  }
  span {
    font-size: 1.8rem;
  }
  p {
    font-size: 0.7rem;
  }

  /* Styling */

  /* Header Styling */
  .header {
    display: flex;
    max-height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    position: fixed;
    z-index: 10;
    background-color: var(--secondary-color);
  }

  /* Main-Container */
  .main-container {
    padding: 5rem 1rem;
  }
  .about-me-photo {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
  }
  .rightside-description {
    max-width: 65%;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
  }
  .rightside-description p {
    font-size: 0.7rem;
  }

  /* Quaternary Container Styling */
  .quaternary-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    max-width: 90%;
    margin: 5rem auto;
  }
}

@media (max-width: 750px) {
  .secondary-container {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    min-width: 90%;
    background-color: var(--secondary-color);
    border-radius: 30px;
    padding: 2rem 1rem;
    gap: 1rem;
  }
  .about-me-photo {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
  }
  .rightside-description {
    min-width: 90%;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 1.2rem;
  }
  a {
    color: var(--text-color);
  }
  h2 {
    font-size: 1.1rem;
  }
  span {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.6rem;
  }
  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    min-height: 12vh;
  }
  .nav-list ul {
    display: none;
  }
  .nav-icons {
    display: block;
  }
  .nav-icons ul {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    gap: 0.5rem;
  }
  .nav-icons i {
    font-size: 1.2rem;
    color: var(--tertiary-color);
    border-radius: 50%;
    padding: 0.6rem;
    background-color: var(--primary-color);
    transition: all ease-in-out 0.5s;
  }
  .nav-icons i:hover {
    background-color: var(--text-color);
    color: black;
    transform: scale(1.2);
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem 3rem 2rem 3rem;
  }
  .secondary-container {
    margin: 5rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    background-color: var(--secondary-color);
    border-radius: 30px;
    padding: 2rem 1rem;
    gap: 1rem;
  }
  .about-me-photo {
    height: auto;
    width: 100%;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    animation: fadetop 2s linear;
  }
  @keyframes fadetop {
    0% {
      transform: translatey(-100%);
      opacity: 0;
    }
    25% {
      transform: translateY(-75%);
      opacity: 0;
    }
    50% {
      transform: translateY(-50%);
      opacity: 0;
    }
    75% {
      transform: translateY(-25%);
      opacity: 0.2;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .rightside-description {
    min-width: 100%;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 0.2rem;
  }
  .rightside-description p {
    font-size: 0.6rem;
    animation: fadetopdes 2s linear;
  }
  @keyframes fadetopdes {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    25% {
      transform: translateY(75%);
      opacity: 0;
    }
    50% {
      transform: translateY(50%);
      opacity: 0;
    }
    75% {
      transform: translateY(25%);
      opacity: 0.2;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .tertiary-container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 8rem auto;
    border-radius: 12px;
    gap: 1.8rem;
    padding: 2rem 1rem;
    text-align: justify;
  }
  .project-image {
    height: auto;
    width: 100%;
    border-radius: 20px;
  }
  .projects-first {
    animation: slideFromRight 2s linear;
  }
  .projects-second {
    animation: slide 2s linear;
  }

  .projects {
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 2rem 1rem;
  }
  .tertiary-container p {
    font-size: 0.6rem;
  }
  .quaternary-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    max-width: 90%;
    margin: 5rem auto;
  }
  .blogs {
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 2rem 1rem;
  }
  .blog-image {
    height: auto;
    width: 100%;
    border-radius: 20px;
  }
  .final-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 90%;
    margin: 5rem auto;
    background-color: var(--secondary-color);
    padding: 2rem 3rem;
    border-radius: 20px;
  }
  input {
    font-size: 1.2rem;
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 2px solid white;
    margin: 1.2rem 0;
    padding: 0 0.4rem;
    outline: none;
  }
  textarea {
    resize: none;
    width: 100%;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    margin: 1.2rem 0;
    padding: 0 0.4rem;
    background: transparent;
  }
  .leftside-contact {
    max-width: 40%;
    box-shadow: 3px 1px 0 solid white;
  }
  .rightside-image-3d {
    max-width: 60%;
  }
  .image {
    height: auto;
    width: 100%;
  }
}
